# OOps Concepts

In [ ]:
class Class_name:
    pass

In [ ]:
class Student:
    name="ritik"### class variable 
    age=20### class variable 
    print(f'my name is {name}, my age is {age}')## methods
obj_st =Student() ### object of class student

my name is ritik, my age is 20

In [3]:
obj_st.name

'ritik'

In [4]:
obj_st.age

20

In [ ]:
class Student:
    name= 'Aditya'
    age = 20
    
    def info(self):##info is method and self is parameter ya object keyword
        print("this is my first method")
        print('how are you')

obj_st =Student()

In [11]:
obj_st.info()

this is my first method
how are you

In [ ]:
class Student:
    name= 'Aditya'
    age = 20
    
    def info(self):##info is method and self is parameter ya object keyword
        print(f"my name is {self.name}, my age is {self.age}")
   

obj_st =Student()

obj_st.info()

my name is Aditya, my age is 20

# INHERITENCE

Types of Inheritence---
* single inheritance 
* mutiple inheritance
* mutilevel inheritance 
* hybrid inheritance 
* hierarchial inheritance

In [17]:
class College:
    pass
class Student:
    pass

####  single inheritance

In [18]:
class College:
 pass
class Student(College):
 pass

In [21]:
class College:
    college_name = 'JECRC Foundation'
    college_address = 'Jaipur, Rajasthan, India'

    def info(self):
        print(self.college_name)
        print(self.college_address)

class Student(College):
    student_name = 'Mahima'
    student_rollno = "89"

obj_st = Student()

print(obj_st.college_name)  # Output: JECRC Foundation
print(obj_st.college_address)  # Output: Jaipur, Rajasthan, India
print(obj_st.student_name)
print(obj_st.student_rollno)

obj_st.info()

JECRC Foundation
Jaipur, Rajasthan, India
Mahima
89
JECRC Foundation
Jaipur, Rajasthan, India

# Muliple Inheritance

In [25]:
class Father:
    father_name ='Mrs kamlesh kumar jain'
    father_job= 'business'
    def info(self):
        print(f"Father name is {self.father_name}")
        print(f"Father job is {self.father_job}")
class Uncle:
    uncle_name= 'Mr. Amit kumar jain'

class Child(Father, Uncle):
    pass

ob= Child()
print(ob.father_name)
print(ob.father_job)
print(ob.uncle_name)

ob.info()

Mrs kamlesh kumar jain
business
Mr. Amit kumar jain
Father name is Mrs kamlesh kumar jain
Father job is business

In [23]:
## multilevel inheritance
class Animal:
    pass
class Mammal(Animal):
    pass
class Carnivore(Mammal):
    pass

In [ ]:
## hybrid

In [ ]:
# hierariahal

# Encapsulation

* private
* public
* protected

In [1]:
class  Student:
    __name= "Aditya"## private variable --- its is denoted by duble underscore __
    age=20## public variable
    _id = "123"## protected variable --- its is denoted by single undersco
st_obj= Student()

In [2]:
st_obj.age

20

In [ ]:
st_obj._Student__name## syntax  is used to accesss priivate vaariable

'Aditya'

In [4]:
st_obj._id## syntax is used to access protected variable

'123'

In [20]:
class Bank:
    __account_number= "123556" 
    name= "aditya" 
    adress= "jaipur"
    MY_number="phone number"
    def totalbalance(self):
             self.balance= int(input("enter the amount"))

             print(f"total balance:{self.balance}Name:{self.name} Adress:{self.adress}Number{self.MY_number}"
             )
     

acc_obj= Bank()


print("your name is ",acc_obj.name)
print("your adress is ",acc_obj.adress)
print("my number is ",acc_obj.MY_number)
acc_obj.totalbalance()

your name is  aditya
your adress is  jaipur
my number is  phone number
total balance:123456778Name:aditya Adress:jaipurNumberphone number

In [22]:
acc_obj.totalbalance()

total balance:12Name:aditya Adress:jaipurNumberphone number

# Constructor

* The constructor method in Python is called  __init__ (). It is automatically called when an object is created from a class.

* The constructor method is used to initialize the attributes of the class.

* if you don’t define a constructor, Python provides a default constructor that doesn’t initialize anything except self.

In [28]:
class Student:
    def __init__(self, name, age):
     self.name =name
     self.age = age ## instance variable
    
obj =Student(name ='aditya', age = 22)

obj.name
obj.age

22

In [29]:
class Student:
    def __init__(self, name, age, grade):
        self.name= name
        self.age= age
        self.grade= grade

    def display(self):
        print(f"My name is: {self.name} My age is :{self.age} My grade is :{self.grade}")

obj= Student(name= "aditya", age ='22', grade ='A')

In [30]:
obj.display()

My name is: aditya My age is :22 My grade is :A

In [ ]:
class Bank:
    def __init__(self,acc_number,name, address,phone_number,amount):
        self.__acc_number =acc_number
        self.name = name
        self.address = address
        self.phone_number = phone_number
        self.amount= amount
    
    def deposit(self,amount):
       
        self.dep=+ 
        return self.amount
     
        print("Your deposit ammount is",self.dep)               

    def withdraw(self, amount):
        self.withd = int(input("My withdraw ammount is"))
        self.withd= self.withd + amount
        print("Your withdraw ammount is",self.withd)

    def total_balance(self, ):
        self.balance= int(input("your total balance is"))
        print("Your total balance is",self.balance)

    def info(self):

        print(f"My Account number is: {self.__acc_number} My name is : {self.name} My address is : {self.address}My phone number is: {self.phone_number} My amount is {self.amount}")


obj= Bank(acc_number ="12345678899",name = "Aditya", address= "Bangalore",phone_number = "9876543210", amount = 10000)

In [75]:
obj.total_balance()

Your total balance is 1000

In [76]:
obj.deposit()

TypeError: Bank.deposit() missing 1 required positional argument: 'amount'

In [62]:
obj.withdraw()

Your withdraw ammount is 500

In [63]:
obj.info()

My Account number is: 12345678899 My name is : Aditya My address is : BangaloreMy phone number is: 9876543210 My amount is 10000